<%- include('./partials/header') %>

<div class="wrapper" style="background-color: #f2f2f2; padding: 20px 0; margin-top: 15px;">
    <div class="w3-container" style="width: 640px; margin: 0 auto; background-color: #f2f2f2w; padding: 20px;">
        <% allCollections.forEach((collection) => { %>
            <div class="w3-display-container mySlides">
            <a href="/collections/<%= collection._id%>"><img src="<%= collection.imageUrl %>" style="width:100%"></a>
            </div>
        <% }) %>

    
        <div class="w3-container w3-dark-grey w3-padding w3-xlarge">
            <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
            <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>
    
            <div class="w3-center">
                <% for(let i = 0; i < allCollections.length; i++) { %>               
                <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(<%= i %>)"></span>

                <% } %>
            </div>
        </div>
    </div>
</div>

<div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">All Collections</span>
    </div>
    <% allCollections.forEach((collection) => { %>
    <div class="w3-third w3-margin-bottom" style="max-width: 400px;">
      <div class="w3-card-4" style="min-height: 650px; position: relative;">
        <a href="/collections/<%= collection._id%>"><img src="<%= collection.imageUrl %>" alt="<%= collection.name %>" style="width:100%"></a>
        <div class="w3-container">
          <a href="/collections/<%= collection._id%>"><h3><%= collection.name %></h3></a>
          <p class="w3-opacity"><%= collection.nfts.length %> NFTs</p>
          <p><%= collection.description %></p>
          <div style="position: absolute; bottom: 0; width: 91%;">
            <p><a href="/collections/<%= collection._id%>"><button class="w3-button w3-light-grey w3-block">View Collection</button></a></p>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
</div>


<%- include('./partials/footer') %>