<%- include('../partials/header') %>
<h3><a href="/collections/<%=collection._id%>"><%=collection.name%></a></h3>
<% if (listedStatus) { %>
<h2>Listed Price: <%=listedPrice %></h2>
<% } %>
<div><img src="<%- nft.imageUrl %>" width="500"></div>
<div>
    <table>
        <tr>
            <th>Description:</th>
            <td><%= nft.description %></td>
        </tr>
        <tr>
            <th>Attributes:</th>
            <td><%= nft.attributes %></td>

        </tr>
        <tr>
            <th>Owner:</th>
            <td><%= nft.wallet %></td>
        </tr>
    </table>
</div>

<div>
    <% if (activeWallet && nft) { %>
        <% if (nft.wallet.toString() === activeWallet._id.toString()) { %>
            <form method ="POST" action="/collections/<%= collection._id %>/<%= nft._id %>/list">
                <input type="number" name="listedPrice" placeholder="your price here">
                <% if (listedStatus) { %>
                    <button>Update Price</button>
                <% } else { %>
                    <button>List Item</button>
                <% } %>
            </form>
        <% } else { %>
            <button>Buy Item</button>
        <% } %>
    <% } %>
    <% if (activeWallet && nft && listedStatus) { %>
        <% if (nft.wallet.toString() === activeWallet._id.toString()) { %>
            <form method ="POST" action="/collections/<%= collection._id %>/<%= nft._id %>/delist"><button>Delist Item</button></form> 
        <% } %>
    <% } %>
</div>

  

<%- include('../partials/footer') %>