<%- include('../partials/header') %>

<h3>Wallet Address: <%=currentWalletId %></h3>

<ul>
    <% currentWallet.forEach((collection) => { %>
      <li><a href="/collections/<%= collection.id %>"><%= collection.name %></a></li>
      <ul>
        <% collection.nfts.forEach((nft) => { %>
            <li>
                <a href="/collections/<%= collection._id%>/<%= nft._id%>"><%= nft.name %> - <img src="<%= nft.imageUrl %>" width="300"></a>
                <form action="/collections/<%= collection._id %>/<%= nft._id %>?_method=DELETE" method="POST">
                    <button type="submit">BURN</button></form>
            </li>
        <% }) %>
      </ul>
    <% }) %>
</ul>

<%- include('../partials/footer') %>