<%- include('../partials/header') %>

<div class="w3-row w3-container">
<table>
    <thead>
        <tr>
            <th>Wallet Address:</th>
            <th>View Items:</th>
            <th>Deposit:</th>
            <th>Balance:</th>
            <th>Set Active:</th>
        </tr>
    </thead>
    <tbody>
        <% wallets.forEach(function(w) { %>
            <tr>
              <td><%= w._id %></td>
              <td>
                <form action="/users/wallet/<%= w._id %>" method="POST">
                    <button>View Items</button>
                </form>
              </td>
              <td>
                  <form action="/users/wallet/<%= w._id %>/deposit" method="POST">
                      <input type="number" name="balance" placeholder="Enter amount here" min="0">
                      <button type="submit">Deposit</button>
                    </form>
                </td>
              <td style="text-align: right;"><b><%= w.balance %></b></td>
              <td>
                <form action="/users/wallet" method="POST">
                    <input type="hidden" name="activeWallet" value="<%= w._id %>">
                    <button type="submit">Set Active</button>
                </form>
              </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<form action="/users/wallet/new" method="POST">
    <button type="submit">Add New Wallet</button>
</form>

</div>

<%- include('../partials/footer') %>